body {
  margin: 0px;
  overflow-y: scroll;
}

#top-bar {
  position: fixed;
  top: 0;
  width: 100%;

  .inner {
    background-color: #BDF;
    border: solid black;
    border-width: 0px 0px 1px;
    padding: 2px 8px;
  }

  #login-buttons {
    float: right;

    #login-dropdown-list {
      left: -145px;
      padding: 4px 12px;
      top: 6px;

      .login-close-text {
        float: right;
      }
    }
  }
}

#remainder-wrapper {
  bottom: 0px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 23px;
  /* Needed to keep the main content underneath the login buttons. */
  z-index: -1;

  #remainder {
    height: 100%;

    #main-content, #side-bar {
      bottom: 0;
      margin: 2%;
      position: absolute;
      top: 0;
    }

    #main-content {
      background-color: #FF0;
      left: 0;
      width: 62%;
    }

    #side-bar {
      border: 1px solid black;
      right: 0;
      width: 32%;
    }
  }

  .full-height {
    height: 100%;
  }
}

#user-wrapper {
  left: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 140px;

  #user-list {
    margin: 0px;
    padding: 0px;

    li {
      background-color: #EEE;
      border: solid #DDD;
      border-width: 0px 0px 1px;
      font-size: 12px;
      padding: 2px 8px;
    }

    li.num_users {
      text-align: center;
    }
  }
}

#chat-wrapper {
  border: solid black;
  border-width: 0px 0px 0px 1px;
  /* This bottom is the height of the chat input. */
  bottom: 28px;
  /* This left is the width of the user list. */
  left: 140px;
  position: absolute;
  right: 0px;
  top: 0px;

  #message-list {
    margin: 0px;
    overflow-y: scroll;
    padding: 0px;

    li {
      font-size: 12px;
      padding: 4px 8px;

      .sender {
        font-weight: bold;
      }
    }
  }

  #chat-input-wrapper {
    background-color: #EEE;
    border: solid black;
    border-width: 1px 0px 0px 1px;
    bottom: 0px;
    height: 22px;
    margin-left: -1px;
    padding: 2px 8px 3px;

    #chat-message {
      float: left;
      font-size: 12px;
      margin: 4px -2px;
      width: 50px;
    }

    input {
      /* This left is the width of the chat-message. */
      left: 54px;
      position: absolute;
      right: 0px;
    }
  }
}
