@left-content-width: 720px;
@right-content-width: 360px;
@game-list-height: 400px;
@chat-box-height: 200px;
@option-box-height: 300px;
@player-list-height: 300px;

@top-bar-height: 41px;
@panel-margin: 18px;

body {
  margin: 0px;
  overflow-y: none;
}

#top-bar {
  background-color: #eee;

  #login-buttons {
    #login-dropdown-list {
      left: -162px;
      padding: 4px 12px;
      top: 0px;

      .login-close-text {
        float: right;
      }
    }
  }
}

#remainder {
  padding-top: @top-bar-height;
  text-align: center;

  .panel {
    margin-top: @panel-margin;
    margin-bottom: 0px;
  }
  
  .panel-heading {
    padding: 8px 12px;
  }

  .panel-body {
    padding: 12px;
  }

  .panel-default>.panel-heading {
    background-color: #eee;
  }

  #main-content {
    margin: 0 auto;
    text-align: center;
    width: @left-content-width + @right-content-width;

    #left-content, #right-content {
      display: inline-block;
      margin: 0 auto;
      padding-left: @panel-margin/2;
      padding-right: @panel-margin/2;
      text-align: left;
    }

    #left-content {
      #game-list {
        height: @game-list-height;
      }

      #chat-box {
        height: @chat-box-height;
      }
    }

    #right-content {
      #options-box {
        height: @option-box-height;
      }

      #player-list {
        height: @player-list-height;
      }
    }
  }

  #signed-out-message {
    display: inline-block;
    margin: 40px auto 0;

    #login-buttons {
      text-align: left;

      #login-dropdown-list {
        border: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        left: -8px;
        top: 28px;

        .loading, .login-buttons-padding, .login-close-text {
          display: none;
        }
      }
    }
  }
}
