body {
  margin: 0px;
  overflow: hidden;
}

#top-bar-wrapper {
  position: fixed;
  top: 0;
  width: 100%;

  #top-bar {
    background-color: #BDF;
    border: solid black;
    border-width: 0px 0px 1px;
    padding: 2px 8px;
  }

  #login-buttons {
    float: right;

    #login-name-link, #login-sign-in-link {
      display: block;
      text-align: right;
      width: 204px;
    }

    #login-dropdown-list {
      left: 0px;
      padding: 4px 12px;
      top: 6px;

      .login-close-text {
        float: right;
      }
    }
  }

  #tab-bar {
    background-color: #AAA;
    border: solid black;
    border-width: 0px 0px 1px;
    height: 22px;
    padding: 4px 0px 0px;
    position: absolute;
    top: 23px;
    width: 100%;

    .room-tab {
      background-color: #EEE;
      border: 1px solid #444;
      border-radius: 4px;
      color: #444;
      cursor: pointer;
      float: left;
      font-size: 14px;
      margin-left: 12px;
      padding: 0px 6px;

      &.selected {
        background-color: white;
        border: 1px solid black;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-width: 1px 1px 0px;
        color: black;
        padding: 0px 6px 5px;
      }
    }
  }
}

#remainder-wrapper {
  bottom: 0px;
  left: 0px;
  position: fixed;
  right: 0px;
  /* The height of the top bar and tab bar. */
  top: 46px;
  /* Needed to keep the main content underneath the login buttons. */
  z-index: -1;

  #remainder {
    height: 100%;

    #main-content, #side-bar {
      bottom: 0;
      margin: 2%;
      position: absolute;
      top: 0;
    }

    #main-content {
      left: 0;
      width: 62%;
    }

    #side-bar {
      right: 0;
      width: 32%;

      &.logged-in {
        border: 1px solid black;
      }

      &.logged-out {
        text-align: right;
      }
    }
  }

  .full-height {
    height: 100%;
  }
}

#user-wrapper {
  background-color: #EEE;
  left: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 140px;

  #user-list {
    margin: 0px;
    padding: 0px;

    li {
      background-color: #EEE;
      border: solid #DDD;
      border-width: 0px 0px 1px;
      font-size: 12px;
      padding: 2px 8px;
    }

    li.num_users {
      text-align: center;
    }
  }
}

#chat-wrapper {
  border: solid black;
  border-width: 0px 0px 0px 1px;
  /* This bottom is the height of the chat input. */
  bottom: 28px;
  /* This left is the width of the user list. */
  left: 140px;
  position: absolute;
  right: 0px;
  top: 0px;

  #message-list {
    margin: 0px;
    overflow-y: scroll;
    padding: 0px;

    li {
      font-size: 12px;
      padding: 4px 8px;

      .sender {
        font-weight: bold;
      }
    }
  }

  #chat-input-wrapper {
    background-color: #EEE;
    border: solid black;
    border-width: 1px 0px 0px 1px;
    bottom: 0px;
    height: 22px;
    margin-left: -1px;
    padding: 2px 8px 3px;

    #chat-message {
      float: left;
      font-size: 12px;
      margin: 4px -2px;
      width: 50px;
    }

    input {
      /* This left is the width of the chat-message. */
      left: 54px;
      position: absolute;
      right: 0px;
    }
  }
}

#config-box {
  border: 1px solid black;
  height: 36%;
  padding: 8px;

  .create-button {
    padding: 8px;
  }
}

#games-list-wrapper {
  border: 1px solid black;
  margin-top: 3.226%;
  overflow-y: scroll;
  padding-bottom: 1px;
  padding-right: 14px;

  #games-list {
    .game {
      background-color: #EEE;
      border: 1px solid #AAA;
      border-radius: 4px;
      float: left;
      font-size: 14px;
      margin: 1% 0% 0% 3%;
      padding: 2px 8px;
      width: 43%;

      .game-name {
        float: left;
        font-weight: bold;
      }

      .game-size {
        clear: left;
      }

      .join-button {
        float: right;
        padding: 8px;
      }
    }
  }
}

#game-ui-container {
  .ugli-game-ui {
    border: 1px solid black;
    position: absolute;
  }
}
