@top-bar-height: 41px;
@panel-margin: 18px;
@main-content-width: 960px;
@game-info-height: 400px;
@chat-box-height: 200px;
@options-box-height: 200px;
@player-list-height: 400px;

@near-black: #222;
@panel-heading: 32px;

.user-select (@val) {
  user-select: @val;
  -moz-user-select: @val;
  -ms-user-select: @val;
  -webkit-user-select: @val;
}

body {
  background-color: #f4f4f4;
  color: @near-black;
  margin: 0px;
}

#top-bar {
  background-color: #333;
  .navbar-brand {
    color: white;
  }

  #login-buttons {
    a.login-link-text {
      color: white;
    }

    #login-dropdown-list {
      left: -162px;
      padding: 4px 12px;
      top: 0px;

      .login-close-text {
        float: right;
      }
    }
  }
}

#remainder {
  padding-top: @top-bar-height;
  text-align: center;

  .panel {
    margin-top: @panel-margin;
    margin-bottom: 0px;
  }

  .panel-heading {
    padding: 6px 8px;
  }

  .panel-title {
    font-size: 14px;
  }

  .panel-body {
    font-size: 12px;
    padding: 8px;
  }

  .panel-default>.panel-heading {
    background-color: #eee;
  }

  #main-content {
    margin: 0 auto;
    text-align: center;
    width: @main-content-width;

    #left-content, #right-content {
      display: inline-block;
      margin: 0 auto;
      padding-left: @panel-margin/2;
      padding-right: @panel-margin/2;
      text-align: left;
    }

    #game-info, #chat-box, #options-box, #player-list {
      overflow: hidden;
    }

    #left-content {
      width: 72%;

      #game-info .panel-body {
        height: @game-info-height - @panel-heading;

        .buttonlike {
          cursor: pointer;
          .user-select(none);
        }

        .table {
          margin: 0px 0px 12px;

          .room-name {
            width: 35%;
          }

          .host {
            width: 20%;
          }

          .description {
            width: 25%;
          }

          .status {
            width: 20%;
          }
        }

        .pagination-wrapper {
          text-align: center;

          .pagination-sm {
            margin: 0 auto;

            li>a {
              width: 32px;
              padding: 5px 0px;
              text-align: center;
            }
          }
        }
      }

      #chat-box {
        @footer-height: 26px;

        #chat-message-list {
          height: @chat-box-height - @panel-heading - @footer-height;
          list-style-type: none;
          margin: 0px;
          padding: 0px;
          overflow-x: hidden;
          overflow-y: scroll;

          .chat-message {
            margin: 2px 8px;

            .chat-sender {
              display: inline-block;
              font-weight: bold;
            }
          }
        }

        .panel-footer {
          border-top: 1px solid #cccccc;
          font-size: 12px;
          padding: 0px;

          .chat-left {
            border-right: 1px solid #cccccc;
            display: inline-block;
            padding: 4px 8px;
            width: 16%;
          }

          input {
            border: none;
            outline: none;
            padding: 4px 4px;
            width: 83%;
          }
        }
      }
    }

    #right-content {
      width: 28%;

      #options-box .panel-body {
        height: @options-box-height - @panel-heading;
      }

      #player-list .panel-body {
        height: @player-list-height - @panel-heading;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 0px;

        .player-row {
          font-size: 12px;
          padding: 4px 8px;
          border-bottom: 1px solid #eee;
        }
      }
    }
  }

  #signed-out-message {
    display: inline-block;
    margin: 40px auto 0px;

    #login-buttons {
      text-align: left;

      #login-dropdown-list {
        border: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        left: -8px;
        top: 36px;

        .loading, .login-buttons-padding, .login-close-text {
          display: none;
        }
      }
    }
  }
}
