#base-modal {
  .form-group {
    margin-bottom: 0;
  }

  .radio-inline {
    margin-left: 0px;
    padding-left: 12px;
  }

  .radio-inline input[type="radio"] {
    margin: 1px 6px 1px 0;
  }
}

.combinos-timer {
  font-size: 18px;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 104px;
}

.my-container, .opponent-container {
  float: left;
  height: 100%;

  >.combinos-client {
    background-color: #eee;
    border: 1px solid #bbb;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: block;
    float: left;

    >.player {
      border-bottom: 1px solid #bbb;
      padding: 1px 8px 0px;
      text-align: left;

      .sync-icon {
        display: inline-block;
        float: right;
      }
    }

    &.synced >.player .sync-icon {
      display: none;
    }
  }
}

.my-container >.combinos-client {
  margin-left: 5px;
}

.opponent-container {
  max-width: 404px;
  &.two-rows {
    max-width: 272px;
  }

  >.combinos-client {
    margin-left: 10px;
  }
}
