.ugli-game-ui {
    background-color: #eee;
    .words {
        .word {
            float: left;
            background-color: #fff;
            border: 1px solid #ccc;
            padding: 2px 3px;
            margin-left: 1ex;
        }
    }
}
