.ugli-game-ui {
    background-color: #eee;
    .time-bar {
        height: 3px;
        background-color: #009;
    }
    .inner-container {
        padding: 1em;
    }
    h1 {
        margin: 0 0 10px 0;
        font-size: 200%;
    }
    .words {
        padding: 5px;
        .word {
            float: left;
            background-color: #fff;
            border: 1px solid #ccc;
            padding: 2px 4px;
            margin: 2px;
            cursor: default;
            font-size: 120%;
            &.used {
                visibility: hidden;
            }
        }
    }
    input.sentence {
        font-size: 120%;
        padding: 1%;
        width: 98%;
    }
    .violations {
        .violation {
            color: #c00;
        }
    }
    .your-submission {
        font-weight: bold;
    }
    .submissions {
        .submission {
            font-size: 120%;
        }
    }
}
